
@model ToDoList.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Все задачи";
}

<table class="table">
    <tr>
        <td>Номер</td>
        <td>Название задачи</td>
        <td>Приоритет</td>
        <td>Статус</td>
        <td>Действия</td>
    </tr>
    @foreach (Problem problem in Model.Problem)
    {
        <tr>
            <td>@problem.Id</td>
            <td>@problem.Name</td>
                        <td>
                @foreach (Priority priority in Model.Priority)
                {
                    if (problem.PriorityId == priority.Id)
                    {
                        @priority.Name
                    }
                }
            </td>
            <td>
                @foreach (Status status in Model.Status)
                {
                    if (problem.StatusId == status.Id)
                    {
                        @status.Name
                    }
                }
            </td>
            <td>

            </td>
        </tr>
    }
</table>

